# T.C. Icisleri Bakanligi - Imza Ucu Protokolu
# Bu esikler bilimsel degil, idaridir.
kirilma_esigi=0.61
yedek_uc_zorunlu=evet
parmak_imza_gecerli=hayir
valilik_tebligati=acik
# arsiv_kodu=yetki-elde-toplanir
